@import '~bootstrap/scss/bootstrap';
@import 'theme';

// body {
//   background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v485-nunoon-49-musicnotesbackgroundicon_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=124e4b324fedceb9fe1e4e437ea892dc');
//   background-position: top;
//   font-family: 'Aldrich';
// }

h1 {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1E90FF, 0 0 20px #1E90FF, 0 0 25px #1E90FF, 0 0 30px #1E90FF, 0 0 35px #1E90FF;
}

h2 {
  text-align: center;
  margin-top: auto;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1E90FF, 0 0 20px #1E90FF, 0 0 25px #1E90FF, 0 0 30px #1E90FF, 0 0 35px #1E90FF;
}

h3 {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1E90FF, 0 0 20px #1E90FF, 0 0 25px #1E90FF, 0 0 30px #1E90FF, 0 0 35px #1E90FF;
}

form {
  text-align: center;
  color: white;
}

.success {
  text-align: center;
  flex: auto;
  padding: 10px;
  margin-top: 50px;
  position: relative;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1E90FF, 0 0 20px #1E90FF, 0 0 25px #1E90FF, 0 0 30px #1E90FF, 0 0 35px #1E90FF;
}

.failed {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1E90FF, 0 0 20px #1E90FF, 0 0 25px #1E90FF, 0 0 30px #1E90FF, 0 0 35px #1E90FF;
}

.failure {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1E90FF, 0 0 20px #1E90FF, 0 0 25px #1E90FF, 0 0 30px #1E90FF, 0 0 35px #1E90FF;
}

.nav-buttons {
  text-align: center;
}

.btn-info {
  text-align: center;
}

.content {
  text-align: center;
}

.addSong {
  text-align: center;
}

.btn-danger {
  text-align: top;
}
